.list {
    display: grid;
    padding: 16px;
    list-style: none;
    margin: 0;
    gap: 2rem;
  }
  
  @media (min-width: 500px) {
    .list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 16px;
      list-style: none;
      margin: 0;
      gap: 15px;
    }
  }
  
  @media (min-width: 700px) {
    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1000px) {
    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1500px) {
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  