.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.pagelink {
  background-color: #121212;
  color: white;
  font-weight: bolder;
  padding: 1rem 1.5rem;
  border: 1px solid #888;
  border-radius: 5px;

  &:hover {
    transition: all 0.4s ease-in-out;
    background-color: #000;
    color: #eaeaea;
    filter: drop-shadow(5px 5px 10px #505050);
  }
}
